<!DOCTYPE html>
<html>
<head>
<title>AMB CLASSE</title>

<link href='https://fonts.googleapis.com/css?family=Cuprum' rel='stylesheet' type='text/css'>



<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/owl.carousel.css" rel="stylesheet">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<script src="js/modernizr.custom.js"></script>

<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="css/lightbox.css" type="text/css" media="all" />

<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="#" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

<!-- for bootstrap working -->
		<script src="js/bootstrap.js"></script>

		<!-- //for bootstrap working -->
<!-- web fonts -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- responsiveslides -->
	<script src="js/responsiveslides.min.js"></script>
		<script>
			// You can also use "$(window).load(function() {"
			$(function () {
		    // Slideshow 4
			$("#slider4").responsiveSlides({
			auto: true,
			pager: true,
			nav: true,
			speed: 500,
			namespace: "callbacks",
			before: function () {
			$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
				$('.events').append("<li>after event fired.</li>");
				}
				});
				});
	</script>
<!-- responsiveslides -->
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
</head>
<body>
<!-- header-section-starts -->	
	<div class="header" id="header">
		<div class="header-top">
			
			<div class="container">
			<div class="row">
			
			<div class="col-sm-2">
				
				<div class="logo text-center">
				<p style="margin:10px;"><a href="index.html">AMB CLASSE by TQS</a></p>
			</div>
				
				
				</div>
				<div class="col-sm-8">
				
				<!-- navigation -->
<div class="navigation">
	
		<nav class="navbar navbar-default">
		 
			<!-- Brand and toggle get grouped for better mobile display -->
			
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			

			<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li class="active"><a href="index.html">Home <span class="sr-only">(current)</span></a></li>
				<!--	<li><a href="about.html">About</a></li>-->
					
					<li><a href="gallery.html">Wear your brand</a></li>
					<li><a href="membership.html">The AMB CLASSE Club</a></li>
					
					<li><a href="contact.html">Contact Us</a></li>
				  </ul>
			 			</div><!-- /.navbar-collapse -->
				
		</nav>
	
</div>
<!-- //navigation -->
</div>

				<div class="col-sm-2">
				<p class="phonenum" style="padding:none;">
				<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+ 655 8858 2068 54892</p>
				</div>
		
			</div>
		</div>
	</div>
	</div>

			 
			 
<div class="contact-section" style="padding:0px;">
	<header>
		<h2 class="heading text-center">Find Us Here</h2>
	</header>
    
	 <div class="contact_grid">
	   <div class="container">
	 
	 	 <div class="col-md-8 contact-top">
			  <p style="font-size:28px; color:#0FCCEA;">Got A QUESTION</p>
			  <p style="text-align:justify;">
					COMMENT OR SUGGESTION ABOUT 
					<a href="membership.html">THE AMB CLASSE CLUB?</a><br>
					WE'D LOVE TO HEAR FROM YOU AT <br>
					THEAMB CLASSECLUB@TQS.COM</p>
			     <form role="form" style="width:70%;">
				   <div class="form-group">
      <label> First Name </label>
      <input type="text" class="form-control" id="first" placeholder="First Name">
    </div>
	<div class="form-group">
      <label> Last Name </label>
      <input type="text" class="form-control" id="last" placeholder="Last Name">
    </div>
		<div class="form-group">
      <label> Phone No </label>
      <input type="text" class="form-control" id="phone_no" placeholder="Phone No">
    </div>
	<div class="form-group">
      <label> Email Id </label>
      <input type="text" class="form-control" id="email" placeholder= "Email Id">
    </div>

	<div class="form-group">
     
   <label> Message </label>
  <textarea class="form-control" rows="5" id="comment"  placeholder="How Can We Help You?"></textarea>
    </div>
	
	&nbsp;
	
    <button type="submit" class="btn btn-default" style="background-color:#0FCCEA; border-radius:0px; padding: 14px 82px; color:#fff;">Submit</button>
				 
			<div>&nbsp;
	&nbsp;</div>			
				
                 </form>
         </div>
       <!-- <div class="col-md-4 contact-top_right">
			  <h3>  Got A QUESTION</h3>
			
			  <p style="text-align:justify;">
					COMMENT OR SUGGESTION ABOUT 
					<a href="membership.html">THE AMB CLASSE CLUB?</a>
					WE'D LOVE TO HEAR FROM YOU AT 
					THEAMB CLASSECLUB@TQS.COM</p>
			  <ul class="contact_info">
			  	<li><span>+1-900-235-2456</span></li>
			  	<li><span class="msg"><a href="malito:mail@example.com">mail(at)example.com</a></span></li>
			  </ul>
	 	</div>-->
		<div class="col-lg-4 col-md-4 col-sm-4 contacts-info-container" style="visibility: visible; ">
                        <div>
						<p style="font-size:28px;">Karol Bagh </p>
						<p style="text-align:justify;">cbcikbcibdci<br>
						4655656<br>
						New Delhi
						
						</div>
						<div>
						<p style="font-size:28px;">Janakpuri</p>
						<p style="text-align:justify;">cbcikbcibdci<br>
						4655656<br>
						New Delhi
						
						</div>
						<div>
						<p style="font-size:28px;">Patel Nagar </p>
						<p style="text-align:justify;">cbcikbcibdci<br>
						4655656<br>
						New Delhi
						
						</div>
						<div>
						<p style="font-size:28px;">Janakpuri </p>
						<p style="text-align:justify;">cbcikbcibdci<br>
						4655656<br>
						New Delhi
						
						</div>
						<div>
						<p style="font-size:28px;">Tilak Nagar</p>
						<p style="text-align:justify;">cbcikbcibdci<br>
						4655656<br>
						New Delhi
						
						</div>
						<div>
						<p style="font-size:28px;">Kirti Nagar</p>
						<p style="text-align:justify;">cbcikbcibdci<br>
						4655656<br>
						New Delhi
						
						</div>
		</div>
	 </div>
	 
	  <div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d112031.24747523136!2d77.04952628562542!3d28.6604227928181!3m2!1i1024!2i768!4f13.1!2m1!1skarol+bagh%2C+kirti+nagar%2C+patel+nagar%2C+tilak+nagar%2Cjanakpuri+phase-1%2C+janakpuri+phase-2!5e0!3m2!1sen!2sin!4v1451843697591" ></iframe>
	 </div>
<!-- footer-section -->
	<div class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="col-md-4 footer-grid">
					<h5>About Us</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in purus nibh. Donec ornare felis neque. Nullam tortor nulla, sodales quis posuere quis, tristique nec libero. Proin vitae convallis odio. Morbi nec enim nisi. Aliquam erat volutpat. </p>
				</div>
				<div class="col-md-4 footer-grid" style="padding-left:100px;">
					<h5>HELP</h5>
					<ul style="list-style:none;">
					<li style="color: #9C9C9C;"> BLOGS </li>
					<li style="color: #9C9C9C;">TERMS AND CONDITION</li>
					<li style="color: #9C9C9C;">PRIVACY POLICY</li>
					<li style="color: #9C9C9C;"> RETURNS</li>
					<li style="color: #9C9C9C;">AFFILATES</li>
					<li style="color: #9C9C9C;">FAQ'S</li>
					</ul>
					
					
				</div>
								<div class="col-md-4 footer-grid">
					<h5>Follow Us</h5>
					<p>Follow us on Social Media for more content & behind the scenes from the AMB CLASSE team!<br> Use <b><font color="blue">#AMB CLASSE.me</font></b> to share your own Fashion Show content.</p>
					
					
					
			<div class="social-icons footer-social-icons">
				<a href="#"><i class="facebook"></i></a>
				<a href="#"><i class="twitter"></i></a>
				<a href="#"><i class="google-plus"></i></a>
				<p>Mail Us:<a href="mailto:mona.malik812@gmail.com.com"> &nbsp; info@AMB CLASSE.com</a>
			</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="copyrights col-md-10">
										<p>© 2015 AMB CLASSE. All Rights Reserved | Design by   <a href="http://w3layouts.com"> Mona Malik</a></p>				
				</div>
				<div class="go-top col-md-2">
					<a href="#header" class="scroll"><span class="glyphicon glyphicon-chevron-up"></span></a>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	
	
	
	<!-- //footer-section -->
<!----> 

</body>
</html>